<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1>Bem-vindo ao Meu Aplicativo</h1>
      <p>Esta é a página inicial do seu aplicativo Rails com Bootstrap.</p>
      <a href="#" class="btn btn-primary">Começar</a>
    </div>
  </div>
</div>
