/* app/assets/stylesheets/contact.css */

/* Estilos para o formulário de contato */
.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%; /* Largura do formulário */
  margin: 0 auto; /* Centralizar horizontalmente */
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-label {
  font-weight: 500;
}

.form-control {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0056b3;
}
