<h1>Detalhes do Veículo</h1>
<dl>
  <dt>Marca:</dt>
  <dd><%= @car.make %></dd>

  <dt>Modelo:</dt>
  <dd><%= @car.model %></dd>

  <dt>Ano:</dt>
  <dd><%= @car.year %></dd>

  <dt>Preço:</dt>
  <dd><%= number_to_currency(@car.price) %></dd>
</dl>
